.col-left {
    background-color: #035241;
}

.header {
    width: 100% !important;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.heading.project-heading {
    text-decoration: underline;
    font-weight: 600;
}

.text-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-image {
    width: 8rem !important;
}

.seperator {
    margin:  0 auto 0 auto !important;
    width: 20% !important;
    border-bottom: 5px solid #ffffff;
}

.col-left a {
    color: #ffffff;
}

.col-left a:hover {
    color: #ffffff;
}

.text-gray {
    color: #cacaca;
}
.project-languages {
    font-style: italic;
}